{% extends "base.html" %}

{% block title %}
Евгения Безрукова
{% endblock %}

{% block body %}

# Евгения Безрукова

### Учебный проект по GitHub и CI/CD

Данный сайт создан в рамках практического задания по настройке статического сайта, GitHub Pages и CI/CD.

#### Обо мне

- Изучаю GitHub, CI/CD и современные подходы к разработке
- Работаю над проектами CRM и автоматизацией бизнес-процессов
- Изучаю технологии веб-разработки и DevOps

#### Используемые технологии

- Python
- GitHub
- GitHub Actions
- GitHub Pages
- LavaCactus

Проект демонстрирует настройку автоматической публикации сайта с использованием CI/CD.

{% endblock %}
